@charset "utf-8";

ul li {list-style: none;}

#slider {
    width: 100%;
    height: 400px;
}

#slider .container {
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 페이지 공통 */
.container {
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}

header {width: 100%;
    height: 120px;
    }

#header_top {
    height: 60%;
    display: flex;
    align-items: center;
}

#header_top .logo {
    width: 70px;
    height: 30px;
}

#header_top .logo svg {
    width: 100%;
    height: 100%;
}

#header_top .search {
    width: 260px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 15px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
}

#header_top .search img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#header_top .search input {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;

    background: transparent;
}

#header_top .member {
    display: flex;
    gap: 5px;
    margin-left: 35px;
}

#header_top .member a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}


#header_main{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_main .nav {
    display: flex;
    gap: 20px;
}

#header_main .nav a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}


#header_main .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header_main .right a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 350px;
    border-top: 1px solid #eee;   
}

#footer_top {
    height: 190px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#footer_top .left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#footer_top .left li a{
    display: flex;
    align-items: center;
}

#footer_top .left li img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#footer_top .left ul {
    width: 20%;
    height: 100%;
}

#footer_top .left ul:first-child li:first-child {
    margin-bottom: 20px;
}

#footer_top .left ul:nth-child(2) li:first-child,
#footer_top .left ul:nth-child(3) li:first-child,
#footer_top .left ul:nth-child(4) li:first-child {
    margin-bottom: 10px;
}

#footer_top .right {
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#footer_top .right .icon {
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_top .right img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

#footer_bottom{
    height: calc(100% - 190px);
}

#footer_bottom button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

#businessInfo {
    display: none;
    margin-top: 10px;
    line-height: 1.8;
}