@charset "utf-8";

#slider {
    height: 415px;
}

#slider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#slider .slide_content{
    width: 30%;
    height: 90%;
    border-radius: 20px;
    background-color: beige;
}

#section1 {
    height: 350px;
    background-color: pink;
}

#section1 .swiper {
    width: 100%;
}

#section1 .swiper-slide {
    height: 300px;
    background-color: beige;
}